<html>
    <head>
        <link href="StyleSheet.css" rel="stylesheet">
    <title>Welcome</title>
    
</head>
<body>
    <center><image class = "dsi" src="/Users/natashakulkarni/Desktop/Zot Portal/zot.jpeg" ></center>  
<center><h1 class="banner"> Welcome to Zot Job Portal</h1></center>
<center>
	<div>

		</br>
			
			<label class="lbl">Enter Username</label><br/>
			<input id="txtEmail" class="textentry" type = "email" name="username" size="50"> <br/><br/>
			
			<input id="btnSignIn"  class="btn" type="submit" value="Login"><br/><br/>
			
      <br/>
      

	</div>
</center>
</body>
</html>